.buttons {
    @include section-style;

    &-list {
        display: flex;
        flex-direction: column;

        &__item {
            margin: 0.5rem;
        }
    }
    &-btn {
        font: inherit;
        background: $color-secondary;
        border: 1px solid $color-secondary;
        color: $color-white;
        border-radius: 6px;
        cursor: pointer;
        padding: 1rem 2rem;
        width: 100%;

        &:focus {
            outline: none;
        }
        &:hover,
        &:active {
            background: $color-primaty;
            border-color: $color-primaty;
        }
    }
}
